<!-- Header Starts -->

<div class="header">
    <div class="logo">
        <h1><a href="#">SHUKARR</a></h1>
    </div>
    <div class="search">
        <!-- <form>
            <input type="text" placeholder="Search Here">
        </form> -->
    </div>
    <div class="menus">
        <a href="#">Home</a>
        <a href="#">Products</a>
        <a href="#">Play</a>
        <a href="#">Cart</a>
        <a (click)="linksToggle()">Menus</a>
    </div>
</div>
<!-- <div *ngIf="showMe" class="links">
    <a href="#">Mens & Womens Accessories</a>
    <a href="#">Womens Wear</a>
    <a href="#">Mens Wear</a>
    <a href="#">Kids Wear</a>
    <a href="#">Toys</a>
</div> -->

<!-- Header Ends -->


<!-- Carousel Starts -->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/slider1.png" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5>We Have Best Quality T-shirts</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/slider2.jpg" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5>50% Off - Bayrama Ozel</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/slider3.jpg" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5>Mens Accessories</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<!-- Carousel Ends -->

<!-- <app-share-components enableComponent="app-nav"></app-share-components>
<app-share-components enableComponent="app-slider"></app-share-components> -->
<!-- <div class="second-container">
    <app-share-components enableComponent="category-component"></app-share-components>
</div> -->
<h2>PRODUCTS OVERVIEW</h2>
<!-- <div class="slide-container swiper">
    <div class="slide-content">
        <div class="card-wrapper swiper-wrapper">
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="../../../assets/images/Products/Air cooler.jpg" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="../../../assets/images/Products/Baby electric Nail Trimmer.jpeg" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="../../../assets/images/Products/bubble gun img 6.jpg" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="../../../assets/images/Products/Security Alarm lock.jpg" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="../../../assets/images/Products/New Cristal Hair Removal.webp" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="../../../assets/images/Products/LCD-Writing-Tablets.jpg" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    <div class="swiper-pagination"></div>
</div> -->

<!-- <div class="swiper-container" id="swiperContainer0">
    <div class="swiper-wrapper">
        <div >Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 6</div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>   -->



<div *ngFor="let item of data; let indx = index" class="third-container">
    <!-- <div class="swiper-container" id="swiperContainer0">
        <div class="swiper-wrapper">
            <div *ngFor="let item of data" class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            <div class="swiper-slide">Slide 4</div>
            <div class="swiper-slide">Slide 5</div>
            <div class="swiper-slide">Slide 6</div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>   -->
    <div>
        <div class="cat-top">
            <p class="category-heading">{{item.category}}</p>
            <p (click)="openCategory(item)" class="see-more">See more...</p>
        </div>
        <div class="category-container scrollbar hidden-slider">
            <div style="margin: 0 5px 0 5px;" *ngFor="let item of item.data">
                <app-share-components [data]="item" enableComponent="single-component"></app-share-components>

            </div>
        </div>
    </div>
</div>
<app-share-components enableComponent="footer-component"></app-share-components>