<app-share-components enableComponent="app-nav"></app-share-components>
<app-share-components enableComponent="app-slider"></app-share-components>
<!-- <div class="second-container">
    <app-share-components enableComponent="category-component"></app-share-components>
</div> -->
<h2>PRODUCTS OVERVIEW</h2>
<div *ngFor="let item of data" class="third-container">
    <div>
        <div class="cat-top">
            <p class="category-heading">{{item.category}}</p>
            <p (click)="openCategory(item)" class="see-more">See more...</p>
        </div>
        <div class="category-container scrollbar hidden-slider">
            <div style="margin: 0 5px 0 5px;" *ngFor="let item of item.data">
                <app-share-components [data]="item" enableComponent="single-component"></app-share-components>
            </div>
        </div>
    </div>
</div>
<app-share-components enableComponent="footer-component"></app-share-components>