.second-container {
    width: 100%;
    height: 80vh;
    padding: 10% 5%;

}

.third-container {
    width: 100%;
    height: 100vh;
    padding: 0 5%;

    h2 {
        font-size: 2.5rem;
        font-weight: 600;
    }
}