.category-container {
    width: 100%;
    display: flex;
    .category-cart-container {
        width: 400px;
        height: 250px;
        border: 1px solid #efefef;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1%;
        margin: 2%;
        cursor: pointer;

        .name-des {
            width: 40%;

            h2 {
                margin: 0;
                padding: 0;
            }

            p {
                color: #b7b7b7;
                font-weight: 100;
            }

            .shop-now-btn {
                width: 0;
                transition: all 1s;
                margin: 70% 0 0 0;
                background: none;
                border: none;
                border-bottom: 2px solid #0008ff;
                font-weight: 600;
                opacity: 0;
                cursor: pointer;
            }
        }

        .img {
            width: 60%;
            height: 100%;

            img {
                width: 100%;
            }
        }


        &:hover {
            .name-des {
                .shop-now-btn {
                    width: 100px;
                    opacity: 1;
                }
            }
        }

    }
}